#nominateds {
    height: 100%;
    width: 100%;
    padding-top: 3vh;
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#nominations-text {
    text-align: center;
    font-size: 3vh;
}