.card-img {
    object-fit: cover;
    height: 70%;
    width: 100%;
}

.card-body {
    height: 30% !important;
}

.card-hover-icon {
    height: auto;
    width: 60%;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    visibility: hidden;
}

@media (pointer:fine) {
    .card:hover .card-img {
        filter: brightness(30%);
        z-index: 0;
    }

    .card:hover .card-hover-icon {
        visibility: visible;
        z-index: 1;
    }
}

.nominated-icon {
    height: auto;
    width: 60%;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
}

.card-button {
    height: 100%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}

.card-button:focus {
    outline: none;
}

.card-title {
    font-size: calc(10% + 1.1vh);
}

.card-text {
    font-size: calc(10% + 1.1vh);
}

.card {
    word-wrap: normal;
    border: none;
    width: calc(50px + 10vh);
    height: 100%;
    flex: 0 0 auto !important;
    margin-left: 5px;
    margin-right: 5px;
}