#search {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}

input {
    text-align: center;
    font-size: calc(20px + 1vw);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(117, 117, 117);
}

input:focus {
    outline: none;
}